{% extends 'shop/base.html' %}

{% block title %}Products of this Category{% endblock %}

{% block content %}
    <section>
        <h2>This is a list of our products of this category</h2>
        <ul>
            {% for product in response %}
                <li>
                    <h3>{{ product.name }}</h3>
                    <p>{{ product.description }}</p>
                    <p>Price: ${{ product.price }}</p>
                    <p>Stock: {{ product.stock }}</p>
                </li>
            {% endfor %}
        </ul>
    </section>
{% endblock %}
